*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost";
}

:root{
    --main-color: #0a2228;
    --para-color: #504e4d;
    --supporting-color: #ebf3fe;
    --bg-color: #fff;
    --heading-color: #0b182a;
    --hero-heading-color: #0a043a;
    --white-color:#ffffff;
    --btn-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111 , 0.2) 0px 7px 29px 0px;

}



.section-about .container:first-child{
    padding: 0.4rem 2.4rem ;
}


.section-common-heading{
    font-size: 2.1rem;
    font-weight: 700;
    text-transform: capitalize;
}

.section-common-subheading{
    color: var(--heading-color);
}
.section-about .about-div{
    text-align: center;
}

.section-common--title{
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;

}

.section-about img{
    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 15rem;
    height: auto;
    border-radius: 50%;
    transition: all 0.6s linear;
}

.section-about .grid{
    gap: 6.4rem;
}

.grid-three--cols{
    grid-template-columns: repeat(3, 1fr);
    
}
.icon:hover > img{
    transform: rotate(360deg);
    background: linear-gradient(to right ,#0575e6, #021b79);
}

/* ----------------------------------------- */
@media( width<= 998px){
    .section-about .about-div{
        text-align: left;
    }

}
@media( width <= 760px){
    .section-about .grid-three--cols{
        grid-template-columns: 1fr;
       
    }

    .section-about img{
        padding: 1.2rem;
         margin-top: -10px; 
        width: 10rem;
        
    }
     
    /* .about-div p{
        font-size: 1.1rem;
        
    } */
    

}

